#icon{
    margin:5vw;
}

#menu{
    font-family:;
    font-size:10vw;
    border-style:solid;
    border-width:1px 0px;
}
#pad{
    width:60%;
    height:auto;
    margin:3vw;
}
#header{
    margin:20vw 10vw 10vw;
    padding:3vw;
    background-color:clear;
    font-size:8vw;
    font-weight:bold;
    border:solid 2px;
    border-radius:40%;
}

#footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    height:8vh;
    background-color:rgba(211,211,211,0.7);

}

body{
    background-image:url(../image/haikei.svg),url(../image/main2.jpg);
    background-size:100vw,cover;
    background-position:bottom;
    background-repeat:no-repeat;
    font-family:meiryo ul;
    font-size:5vw;

}
.haikei{
    position:fixed;
    bottom:0;

}
th{
    font-size:50px;
}
imge{
    border-radius:30%;
    margin:5vw;
   }

.button{
    position:fixed;
    right:5vw;
    top:5vh;
    width:10vw;
    heifht:10vh;
}
.menu {
    position: fixed;
    right: -200px;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}

.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #;
    width: 200px;
    height: 100%
}

.size{
    font-size:5vw;
    -height:5vw;
    -width:100vw;
}
.linkblock{
    display:block;
}
a{
    text-decoration:none;
    color:black;
}

#slidemenu1{
    background-color:white;
    position: fixed;
    right: -40vw;
    width: 30vw;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}

#slidemenu{
    background-color:white;
    position: fixed;
    right: 0vw;
    width: 40vw;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}